<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include variables.wxi ?>

  <Fragment>
    <ComponentGroup Id="CDP4DASHBOARD_CG" Directory="DASHBOARD">
      
      <!--TODO:
	  <Component Id="comp_CDP4Dashboard" Guid="{60DCB213-9D8E-4C5F-984F-94755EDB0397}" Location="local" Win64="$(var.Win64)">
        <File Id="fil_CDP4Dashboard"  Vital="yes" Source="$(var.CDP4Dashboard.TargetPath)" KeyPath="yes"></File>
      </Component>

      <Component Id="comp_Manifest_CDP4Dashboard" Guid="{200B1D2F-8818-4E63-A4DD-3069F37D3F84}" Location="local" Win64="$(var.Win64)">
        <File Id="fil_Manifest_CDP4Dashboard"  Vital="yes" Source="$(var.CDP4Dashboard.TargetDir)CDP4Dashboard.plugin.manifest" KeyPath="yes"></File>
      </Component>-->

    </ComponentGroup>
  </Fragment>
</Wix>