<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <?include variables.wxi ?>

  <Fragment>
    <ComponentGroup Id="CDP4GRAPHER_CG" Directory="GRAPHER">
      
      <Component Id="comp_CDP4Grapher" Guid="{5492A4B6-3A49-4980-9DDF-CFA59B57CCA9}" Location="local" >
        <File Id="fil_CDP4Grapher" Vital="yes" Source="$(var.CDP4Grapher.TargetPath)" KeyPath="yes"></File>
      </Component>
      
      <Component Id="comp_Manifest_CDP4Grapher" Guid="{857F7E95-BD84-43D0-A7A4-67D510E6D961}" Location="local" >
        <File Id="fil_Manifest_CDP4Grapher" Vital="yes" Source="$(var.CDP4Grapher.TargetDir)CDP4Grapher.plugin.manifest" KeyPath="yes"></File>
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>