<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include variables.wxi ?>

  <Fragment>
    <ComponentGroup Id="WSPDAL_CG" Directory="WSPDAL">
      
      <Component Id="comp_CDP4WspDal" Guid="{201BF432-2731-49F4-8C28-086B5779DBB5}" Location="local" Win64="$(var.Win64)">
        <File Id="fil_CDP4WspDal"  Vital="yes" Source="$(var.CDP4WspDal.TargetDir)CDP4WspDal.dll" KeyPath="yes"></File>
      </Component>

      <Component Id="comp_Manifest_CDP4WspDal" Guid="{C85AD485-3992-4662-9213-1A85821471B2}" Location="local" Win64="$(var.Win64)">
        <File Id="fil_Manifest_CDP4WspDal"  Vital="yes" Source="$(var.CDP4WspDal.TargetDir)CDP4WspDal.plugin.manifest" KeyPath="yes"></File>
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>