<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include variables.wxi ?>

	<Fragment>
    <ComponentGroup Id="CDP4ADDIN" Directory="BIN">

      <!--NetOffice Components -->
      <Component Id="_5D3DE99C1515" Guid="{8CB24016-D019-46E6-8A5F-5D3DE99C1515}" Win64="$(var.Win64)">
        <File Id="_8CB24016" Vital="yes" Source="$(var.CDP4Addin.TargetDir)\ExcelApi.dll" KeyPath="yes" />
      </Component>
      
      <Component Id="_DADDBFC3AFAA" Guid="{63F90CD4-E86C-4FCA-A39F-DADDBFC3AFAA}" Win64="$(var.Win64)">
        <File Id="_63F90CD4" Vital="yes" Source="$(var.CDP4Addin.TargetDir)\NetOffice.dll" KeyPath="yes" />
      </Component>

      <Component Id="_CEE0458E7E49" Guid="{07C61A6D-5573-414F-B245-CEE0458E7E49}" Win64="$(var.Win64)">
        <File Id="_07C61A6D" Vital="yes" Source="$(var.CDP4Addin.TargetDir)\OfficeApi.dll" KeyPath="yes" />
      </Component>

      <Component Id="_3B601D5DBB60" Guid="{6B87148B-7FC4-4B17-BD26-3B601D5DBB60}" Win64="$(var.Win64)">
        <File Id="_6B87148B" Vital="yes" Source="$(var.CDP4Addin.TargetDir)\VBIDEApi.dll" KeyPath="yes" />
      </Component>

      <Component Id="_A6C2914281B1" Guid="{FCED4287-9FDE-4603-8D6E-A6C2914281B1}" Win64="$(var.Win64)">
        <File Id="_FCED4287" Vital="yes" Source="$(var.CDP4Addin.TargetDir)\CDP4AddinCE.tlb" KeyPath="yes" />
      </Component>

      <Component Id="_7E040B395541" Guid="{DE3065F5-E1C0-42EA-B699-7E040B395541}" Win64="$(var.Win64)">
        <File Id="_DE3065F5" Vital="yes" Source="$(var.CDP4Addin.TargetDir)\CDP4OfficeInfrastructure.dll" KeyPath="yes" />
      </Component>
      
       <Component Id="_1BEE60CACC2D" Guid="{17CAA5BE-28C0-4CB9-8083-1BEE60CACC2D}" Win64="$(var.Win64)">
        <File Id="_17CAA5BE" Vital="yes" Source="$(var.CDP4Addin.TargetPath)" KeyPath="yes" />

        <!-- register addin with EXCEL-->

        <RegistryKey Key="Software\Microsoft\Office\Excel\Addins\CDP4CE.Addin" Root="HKLM" Action="createAndRemoveOnUninstall" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Name="FriendlyName" Value="CDP4-COMET-CE Office Add-in"></RegistryValue>
          <RegistryValue Type="string" Name="Description" Value="The CDP4-COMET-CE Office Add-in provides CDP4-COMET application integration with Microsoft Office Suite"></RegistryValue>
          <RegistryValue Type="integer" Name="LoadBehavior" Value="3"></RegistryValue>
        </RegistryKey>

        <!-- register CDP4Addin.Addin Class-->

        <RegistryKey Key="SOFTWARE\Classes\CDP4CE.Addin" Root="HKLM" Action="createAndRemoveOnUninstall" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="CDP4AddinCE.Addin"></RegistryValue>
          <RegistryKey Key="CLSID">
            <RegistryValue Type="string" Value="{FD48B640-1D3F-4922-854B-C69028CA469E}"></RegistryValue>
          </RegistryKey>
        </RegistryKey>

        <RegistryKey Key="Software\Classes\CLSID\{FD48B640-1D3F-4922-854B-C69028CA469E}" Root="HKLM" Action="createAndRemoveOnUninstall" ForceDeleteOnUninstall="yes">
          <RegistryKey Key="Implemented Categories">
            <RegistryValue Type="string" Value=""></RegistryValue>
            <RegistryKey Key="{5BF44957-D93F-4462-A984-385B718C9084}">
              <RegistryValue Type="string" Value=""></RegistryValue>
            </RegistryKey>
          </RegistryKey>

          <RegistryKey Key="InprocServer32">
            <RegistryKey Key="11.0.0.2">
              <RegistryValue Type="string" Name="Assembly" Value="CDP4AddinCE, Version=11.0.0.2, Culture=neutral, PublicKeyToken=null"></RegistryValue>
              <RegistryValue Type="string" Name="Class" Value="CDP4AddinCE.Addin"></RegistryValue>
              <RegistryValue Type="string" Name="RuntimeVersion" Value="v4.0.30319"></RegistryValue>
              <RegistryValue Type="string" Name="CodeBase" Value="file:///[#_17CAA5BE]"></RegistryValue>
            </RegistryKey>

            <RegistryValue Type="string" Value="mscoree.dll"></RegistryValue>
            <RegistryValue Type="string" Name="Assembly" Value="CDP4AddinCE, Version=11.0.0.2, Culture=neutral, PublicKeyToken=null"></RegistryValue>
            <RegistryValue Type="string" Name="Class" Value="CDP4AddinCE.Addin"></RegistryValue>
            <RegistryValue Type="string" Name="RuntimeVersion" Value="v4.0.30319"></RegistryValue>
            <RegistryValue Type="string" Name="ThreadingModel" Value="Both"></RegistryValue>
            <RegistryValue Type="string" Name="CodeBase" Value="file:///[#_17CAA5BE]"></RegistryValue>
          </RegistryKey>

          <RegistryKey Key="ProgId">
            <RegistryValue Type="string" Value="CDP4CE.Addin"></RegistryValue>
          </RegistryKey>
        </RegistryKey>

        <!-- register TaskPaneWpfHostControl Class -->

        <RegistryKey Key="SOFTWARE\Classes\CDP4AddinCE.TaskPaneWpfHostControl" Root="HKLM" Action="createAndRemoveOnUninstall" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="CDP4AddinCE.TaskPaneWpfHostControl"></RegistryValue>
          <RegistryKey Key="CLSID">
            <RegistryValue Type="string" Value="{76CD03FA-0532-45A4-A222-5A14669D805C}"></RegistryValue>
          </RegistryKey>
        </RegistryKey>

        <RegistryKey Key="Software\Classes\CLSID\{76CD03FA-0532-45A4-A222-5A14669D805C}" Root="HKLM" Action="createAndRemoveOnUninstall" ForceDeleteOnUninstall="yes">
          <RegistryKey Key="Implemented Categories">
            <RegistryValue Type="string" Value=""></RegistryValue>
            <RegistryKey Key="{BA532C82-B31C-41F3-84EB-0D952708D041}">
              <RegistryValue Type="string" Value=""></RegistryValue>
            </RegistryKey>
          </RegistryKey>

          <RegistryKey Key="InprocServer32">
            <RegistryKey Key="11.0.0.2">
              <RegistryValue Type="string" Name="Assembly" Value="CDP4AddinCE, Version=11.0.0.2, Culture=neutral, PublicKeyToken=null"></RegistryValue>
              <RegistryValue Type="string" Name="Class" Value="CDP4AddinCE.TaskPaneWpfHostControl"></RegistryValue>
              <RegistryValue Type="string" Name="CodeBase" Value="[#_17CAA5BE]"></RegistryValue>
              <RegistryValue Type="string" Name="RuntimeVersion" Value="v4.0.30319"></RegistryValue>
            </RegistryKey>

            <RegistryValue Type="string" Value="mscoree.dll"></RegistryValue>
            <RegistryValue Type="string" Name="Assembly" Value="CDP4AddinCE, Version=11.0.0.2, Culture=neutral, PublicKeyToken=null"></RegistryValue>
            <RegistryValue Type="string" Name="Class" Value="CDP4AddinCE.TaskPaneWpfHostControl"></RegistryValue>
            <RegistryValue Type="string" Name="CodeBase" Value="[#_17CAA5BE]"></RegistryValue>
            <RegistryValue Type="string" Name="RuntimeVersion" Value="v4.0.30319"></RegistryValue>
            <RegistryValue Type="string" Name="ThreadingModel" Value="Both"></RegistryValue>
          </RegistryKey>

          <RegistryKey Key="ProgId">
            <RegistryValue Type="string" Value="CDP4AddinCE.TaskPaneWpfHostControl"></RegistryValue>
          </RegistryKey>
        </RegistryKey>

        <!-- register Excel support for https servers -->
        <RegistryKey Key="Software\Wow6432Node\Microsoft\.NETFramework\v4.0.30319" Root="HKLM" Action="createAndRemoveOnUninstall" ForceDeleteOnUninstall="no">
	        <RegistryValue Type="integer" Name="SchUseStrongCrypto" Value="1"></RegistryValue>
        </RegistryKey>

        <RegistryKey Key="Software\Microsoft\.NETFramework\v4.0.30319" Root="HKLM" Action="createAndRemoveOnUninstall" ForceDeleteOnUninstall="no">
	        <RegistryValue Type="integer" Name="SchUseStrongCrypto" Value="1"></RegistryValue>
        </RegistryKey>

      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>