<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include variables.wxi ?>

  <Fragment>
    <ComponentGroup Id="RELATIONSHIPMATRIX_CG" Directory="RELATIONSHIPMATRIX">

      <Component Id="comp_RelationshipMatrix" Guid="{E64C24C8-615F-420A-B06A-FEABCF31A002}" Location="local" Win64="$(var.Win64)">
        <File Id="fil_RelationshipMatrix"  Vital="yes" Source="$(var.CDP4RelationshipMatrix.TargetPath)" KeyPath="yes"></File>
      </Component>

      <Component Id="comp_Manifest_CDP4RelationshipMatrix" Guid="{0651E705-556A-4BCE-9327-1B1B50D78A0F}" Location="local" Win64="$(var.Win64)">
        <File Id="fil_Manifest_CDP4RelationshipMatrix"  Vital="yes" Source="$(var.CDP4RelationshipMatrix.TargetDir)CDP4RelationshipMatrix.plugin.manifest" KeyPath="yes"></File>
      </Component>

      <Component Id="comp_RelationshipMatrix_csvhelper" Guid="{27D4ACFF-E6FF-48C7-B7A0-6C3D4160AA13}" Location="local" Win64="$(var.Win64)">
        <File Id="fil_RelationshipMatrix_csvhelper" Vital="yes" Source="$(var.CDP4RelationshipMatrix.TargetDir)CsvHelper.dll" KeyPath="yes" />
      </Component>

	  <Component Id="comp_RelationshipMatrix_AsyncInterfaces" Guid="{BD8B9F2C-2BF7-4309-9322-BEA012C5ABDD}" Location="local" Win64="$(var.Win64)">
		<File Id="fil_RelationshipMatrix_AsyncInterfaces" Vital="yes" Source="$(var.CDP4RelationshipMatrix.TargetDir)Microsoft.Bcl.AsyncInterfaces.dll" KeyPath="yes" />
	  </Component>

	  <Component Id="comp_RelationshipMatrix_HashCode" Guid="{924F78BA-3D2F-4258-AE6E-DF30F3620B9A}" Location="local" Win64="$(var.Win64)">
		<File Id="fil_RelationshipMatrix_HashCode" Vital="yes" Source="$(var.CDP4RelationshipMatrix.TargetDir)Microsoft.Bcl.HashCode.dll" KeyPath="yes" />
	  </Component>

	  <Component Id="comp_RelationshipMatrix_Buffers" Guid="{77D34A66-D636-40CE-9C9D-3D23B861F76E}" Location="local" Win64="$(var.Win64)">
		<File Id="fil_RelationshipMatrix_Buffers" Vital="yes" Source="$(var.CDP4RelationshipMatrix.TargetDir)System.Buffers.dll" KeyPath="yes" />
	  </Component>

	  <Component Id="comp_RelationshipMatrix_Memory" Guid="{01887077-28C2-4051-A97F-E0FEB9429EDC}" Location="local" Win64="$(var.Win64)">
		<File Id="fil_RelationshipMatrix_Memory" Vital="yes" Source="$(var.CDP4RelationshipMatrix.TargetDir)System.Memory.dll" KeyPath="yes" />
	  </Component>

	  <Component Id="comp_RelationshipMatrix_Vectors" Guid="{D1DC12AE-3ED4-417A-AE13-2B7E83EC6A7C}" Location="local" Win64="$(var.Win64)">
		<File Id="fil_RelationshipMatrix_Vectors" Vital="yes" Source="$(var.CDP4RelationshipMatrix.TargetDir)System.Numerics.Vectors.dll" KeyPath="yes" />
	  </Component>		

	    <Component Id="comp_ClosedXml" Guid="{3172DF0B-98E0-4F2B-88AF-AF90C0D45EBD}" Location="local" Win64="$(var.Win64)">
		    <File Id="fil_RelationshipMatrix_ClosedXml" Vital="yes" Source="$(var.CDP4RelationshipMatrix.TargetDir)ClosedXML.dll" KeyPath="yes" />
	    </Component>		

	    <Component Id="comp_ExcelNumberFormat" Guid="{CC98BD8C-65D7-42E8-ADEE-A27E1E838E30}" Location="local" Win64="$(var.Win64)">
		    <File Id="fil_RelationshipMatrix_ExcelNumberFormat" Vital="yes" Source="$(var.CDP4RelationshipMatrix.TargetDir)ExcelNumberFormat.dll" KeyPath="yes" />
	    </Component>		

	    <Component Id="comp_OpenXml" Guid="{E30AA0D1-9521-43CF-8BE0-658330C84A8E}" Location="local" Win64="$(var.Win64)">
		    <File Id="fil_RelationshipMatrix_OpenXml" Vital="yes" Source="$(var.CDP4RelationshipMatrix.TargetDir)DocumentFormat.OpenXml.dll" KeyPath="yes" />
	    </Component>		


    </ComponentGroup>
	</Fragment>
</Wix>