<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include variables.wxi ?>

  <Fragment>
    <ComponentGroup Id="RELATIONSHIPMATRIX_CG" Directory="RELATIONSHIPMATRIX">

      <Component Id="comp_RelationshipMatrix" Guid="{E64C24C8-615F-420A-B06A-FEABCF31A002}" Location="local" Win64="$(var.Win64)">
        <File Id="fil_RelationshipMatrix"  Vital="yes" Source="$(var.CDP4RelationshipMatrix.TargetPath)" KeyPath="yes"></File>
      </Component>

      <Component Id="comp_Manifest_CDP4RelationshipMatrix" Guid="{0651E705-556A-4BCE-9327-1B1B50D78A0F}" Location="local" Win64="$(var.Win64)">
        <File Id="fil_Manifest_CDP4RelationshipMatrix"  Vital="yes" Source="$(var.CDP4RelationshipMatrix.TargetDir)CDP4RelationshipMatrix.plugin.manifest" KeyPath="yes"></File>
      </Component>

    </ComponentGroup>
	</Fragment>
</Wix>