<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include variables.wxi ?>

  <Fragment>
    <ComponentGroup Id="JSONFILEDAL_CG" Directory="JSONFILEDAL">
      
      <Component Id="comp_CDP4JsonFileDal" Guid="{F334064B-9494-4CC2-9FC8-A3FC999C038C}" Location="local" Win64="$(var.Win64)">
        <File Id="fil_CDP4JsonFileDal"  Vital="yes" Source="$(var.CDP4JsonFileDal.TargetDir)CDP4JsonFileDal.dll" KeyPath="yes"></File>
      </Component>

      <Component Id="comp_Manifest_CDP4JsonFileDal" Guid="{B392D068-7870-427E-A186-468731AAF7CC}" Location="local" Win64="$(var.Win64)">
        <File Id="fil_Manifest_CDP4JsonFileDal"  Vital="yes" Source="$(var.CDP4JsonFileDal.TargetDir)CDP4JsonFileDal.plugin.manifest" KeyPath="yes"></File>
      </Component>

      <Component Id="comp_SharpZipLib" Guid="{6125D6A2-DA33-4FFE-916A-CADB3EFEC567}" Location="local" Win64="$(var.Win64)">
        <File Id="fil_SharpZibLib" Vital="yes" Source="$(var.CDP4JsonFileDal.TargetDir)ICSharpCode.SharpZipLib.dll" KeyPath="yes" />
      </Component>
     
    </ComponentGroup>
  </Fragment>
</Wix>