<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!--Components are listed in alphabetical order using the name of the dll-->

  <?include variables.wxi ?>

	<Fragment>
    <ComponentGroup Id="DEPENDENCIES" Directory="BIN">

      <Component Id="_7D7C7995B7FC" Guid="{DE458569-7B72-45C5-A2A2-7D7C7995B7FC}" Location="local" Win64="$(var.Win64)">
        <File Id="_DE458569"  Vital="yes" Source="$(var.COMET-CE.TargetDir)Markdown.Xaml.dll" KeyPath="yes"></File>
      </Component>

      <Component Id="comp_Newtonsoft_Json" Guid="{92569C63-3D66-4F94-83CA-B81D0CB55958}" Location="local" Win64="$(var.Win64)">
        <File Id="fil_Newtonsoft_Json" Vital="yes" Source="$(var.COMET-CE.TargetDir)Newtonsoft.Json.dll" KeyPath="yes" />
      </Component>

      <Component Id="comp_NLog" Guid="{1AD65224-46C7-42CA-8A2D-51C2C48633BC}" Location="local" Win64="$(var.Win64)">
        <File Id="fil_NLog" Vital="yes" Source="$(var.COMET-CE.TargetDir)NLog.dll" KeyPath="yes" />
      </Component>

      <Component Id="comp_ReactiveUI" Guid="{D942F4F1-5B90-480D-97F3-36D55C68DCD2}" Location="local" Win64="$(var.Win64)">
        <File Id="fil_ReactiveUI" Vital="yes" Source="$(var.COMET-CE.TargetDir)ReactiveUI.dll" KeyPath="yes" />
      </Component>

      <Component Id="comp_Splat" Guid="{618C780F-E4E6-45AA-8538-97405890369D}" Location="local" Win64="$(var.Win64)">
        <File Id="fil_Splat" Vital="yes" Source="$(var.COMET-CE.TargetDir)Splat.dll" KeyPath="yes" />
      </Component>

	</ComponentGroup>
  </Fragment>
</Wix>