<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!--Components are listed in alphabetical order using the name of the dll-->

  <!-- The DevExpress libraries are registered in the GAC (using Assembly=".net") to make sure the COMET Excel Addin Works-->

  <?include variables.wxi ?>

  <Fragment>
    <ComponentGroup Id="DEVEXPRESS" Directory="BIN">

		<Component Id="_D34DA862" Guid="{D34DA862-EDE4-426D-80BB-ACB7234D7B71}" Win64="$(var.Win64)">
			<File Id="_ACB7234D7B71" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Charts.Designer.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_10FCA1CD" Guid="{10FCA1CD-329D-43D7-8A57-3CB33DE27EEB}" Win64="$(var.Win64)">
			<File Id="_3CB33DE27EEB" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Charts.v20.2.Core.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_E8DCACDE" Guid="{E8DCACDE-7ADA-4C58-AC7C-F74076035FCE}" Win64="$(var.Win64)">
			<File Id="_F74076035FCE" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.CodeParser.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_72EE1C7E" Guid="{72EE1C7E-7EC3-4E31-A9EF-E133B08EE1CF}" Win64="$(var.Win64)">
			<File Id="_E133B08EE1CF" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Data.Desktop.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_C90C6409" Guid="{C90C6409-98E5-428A-BE49-8DB81FB1DC63}" Win64="$(var.Win64)">
			<File Id="_8DB81FB1DC63" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Data.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_306C1806" Guid="{306C1806-6F3A-492E-8FAD-EBF71381456F}" Win64="$(var.Win64)">
			<File Id="_EBF71381456F" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.DataAccess.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_EB63706A" Guid="{EB63706A-E5C5-4A56-BE8B-16B8EE799606}" Win64="$(var.Win64)">
			<File Id="_16B8EE799606" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.DataVisualization.v20.2.Core.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_3598E639" Guid="{3598E639-D462-46B1-B9F3-B9D0F006B4B9}" Win64="$(var.Win64)">
			<File Id="_B9D0F006B4B9" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Diagram.v20.2.Core.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_9D6D4495" Guid="{9D6D4495-BA5A-4ECE-971E-E0D5750D5DAC}" Win64="$(var.Win64)">
			<File Id="_E0D5750D5DAC" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Dialogs.v20.2.Core.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_9AE4AE77" Guid="{9AE4AE77-002A-44E4-A0C9-6BAD0911DD28}" Win64="$(var.Win64)">
			<File Id="_6BAD0911DD28" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Images.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_EE8502C5" Guid="{EE8502C5-013F-494D-B3D6-BE66D95B5014}" Win64="$(var.Win64)">
			<File Id="_BE66D95B5014" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Map.v20.2.Core.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_D3ADD245" Guid="{D3ADD245-6CA9-4630-B3E4-3EE899FB699A}" Win64="$(var.Win64)">
			<File Id="_3EE899FB699A" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Mvvm.v20.2.DataModel.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_239B280D" Guid="{239B280D-1E86-4A13-9A85-B7A77EA45659}" Win64="$(var.Win64)">
			<File Id="_B7A77EA45659" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Mvvm.v20.2.DataModel.EFCore.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_8749C550" Guid="{8749C550-6FE1-4FC7-B6B1-ADCC3C046973}" Win64="$(var.Win64)">
			<File Id="_ADCC3C046973" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Mvvm.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_7C03E7C1" Guid="{7C03E7C1-1746-41AE-B933-8B67F692B9AA}" Win64="$(var.Win64)">
			<File Id="_8B67F692B9AA" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Mvvm.v20.2.ViewModel.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_AA45AC7B" Guid="{AA45AC7B-594B-4A90-9A3E-75F9ABDF95D7}" Win64="$(var.Win64)">
			<File Id="_75F9ABDF95D7" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Office.v20.2.Core.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_9A6AFF88" Guid="{9A6AFF88-FBC0-436D-9D65-6C58F1ADB8DA}" Win64="$(var.Win64)">
			<File Id="_6C58F1ADB8DA" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Pdf.v20.2.Core.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_3F452098" Guid="{3F452098-59DB-418A-913D-2B430696CB88}" Win64="$(var.Win64)">
			<File Id="_2B430696CB88" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Pdf.v20.2.Drawing.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_210DB5DD" Guid="{210DB5DD-1E2D-46B5-B3CE-3DAA45724860}" Win64="$(var.Win64)">
			<File Id="_3DAA45724860" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.PivotGrid.v20.2.Core.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_8FE6648E" Guid="{8FE6648E-4922-4107-89F9-8FF020FD6323}" Win64="$(var.Win64)">
			<File Id="_8FF020FD6323" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Printing.v20.2.Core.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_527394C2" Guid="{527394C2-BBBD-4D7D-B58A-2266FD8753A3}" Win64="$(var.Win64)">
			<File Id="_2266FD8753A3" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.RichEdit.v20.2.Core.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_1976A899" Guid="{1976A899-EE92-4C5D-B9F2-530D52F50D53}" Win64="$(var.Win64)">
			<File Id="_530D52F50D53" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.RichEdit.v20.2.Export.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_41E202C2" Guid="{41E202C2-B6C6-482E-89B0-4F14235C144B}" Win64="$(var.Win64)">
			<File Id="_4F14235C144B" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Sparkline.v20.2.Core.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_6CA5BA2F" Guid="{6CA5BA2F-7062-47DB-BEF3-885EDE2039B9}" Win64="$(var.Win64)">
			<File Id="_885EDE2039B9" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.SpellChecker.v20.2.Core.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_3827B2B7" Guid="{3827B2B7-621E-421A-AE66-F557CC9ADCCD}" Win64="$(var.Win64)">
			<File Id="_F557CC9ADCCD" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Spreadsheet.v20.2.Core.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_D1931B30" Guid="{D1931B30-1879-432D-85F9-20E28A30BA88}" Win64="$(var.Win64)">
			<File Id="_20E28A30BA88" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.TreeMap.v20.2.Core.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_DFBCF5EE" Guid="{DFBCF5EE-97B2-4869-B761-DF3FC2E48DD1}" Win64="$(var.Win64)">
			<File Id="_DF3FC2E48DD1" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.Accordion.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_F75CD4A9" Guid="{F75CD4A9-AA5C-48AE-92DD-6EBE6AD1ED21}" Win64="$(var.Win64)">
			<File Id="_6EBE6AD1ED21" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.Carousel.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_2BB087E3" Guid="{2BB087E3-29F9-43DD-B637-AC3E8F76679C}" Win64="$(var.Win64)">
			<File Id="_AC3E8F76679C" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.Charts.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_5101CF8E" Guid="{5101CF8E-A736-471A-A9D3-3414128228F1}" Win64="$(var.Win64)">
			<File Id="_3414128228F1" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.CodeView.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_8E37FE4D" Guid="{8E37FE4D-D1F3-44D9-BFC7-E2CF300A43FB}" Win64="$(var.Win64)">
			<File Id="_E2CF300A43FB" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.Controls.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_45B856B4" Guid="{45B856B4-9123-4E4C-8050-017C36EB899E}" Win64="$(var.Win64)">
			<File Id="_017C36EB899E" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.Core.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_766CD245" Guid="{766CD245-0BE7-4C1F-BE1C-A3A9EF2A237C}" Win64="$(var.Win64)">
			<File Id="_A3A9EF2A237C" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.Core.v20.2.Extensions.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_2EEC532B" Guid="{2EEC532B-51CD-43ED-8748-C5A89BA503AA}" Win64="$(var.Win64)">
			<File Id="_C5A89BA503AA" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.DataAccess.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_828A2471" Guid="{828A2471-4290-4630-9AAE-29FC4E4B6FFC}" Win64="$(var.Win64)">
			<File Id="_29FC4E4B6FFC" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.Diagram.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_A120B45B" Guid="{A120B45B-01A6-471E-A198-E2B6DBE047FB}" Win64="$(var.Win64)">
			<File Id="_E2B6DBE047FB" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.Dialogs.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_8FD18F40" Guid="{8FD18F40-0167-427B-B409-566CBA7CF553}" Win64="$(var.Win64)">
			<File Id="_566CBA7CF553" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.Docking.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_112B0ECC" Guid="{112B0ECC-B379-4B7D-9F7E-1B2DE5A30E7F}" Win64="$(var.Win64)">
			<File Id="_1B2DE5A30E7F" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.DocumentViewer.v20.2.Core.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_40D4DBD3" Guid="{40D4DBD3-86D7-4788-8AAF-3BDD95BA19E9}" Win64="$(var.Win64)">
			<File Id="_3BDD95BA19E9" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.ExpressionEditor.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_47EB45B4" Guid="{47EB45B4-34E6-4E9B-AE9D-74714BBEB152}" Win64="$(var.Win64)">
			<File Id="_74714BBEB152" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.Gantt.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_428E5768" Guid="{428E5768-5BF6-4538-9955-75DED8E88406}" Win64="$(var.Win64)">
			<File Id="_75DED8E88406" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.Gauges.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_1E613D5D" Guid="{1E613D5D-3CA7-4C0E-9F70-372821F4974E}" Win64="$(var.Win64)">
			<File Id="_372821F4974E" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.Grid.v20.2.Core.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_37C89771" Guid="{37C89771-D969-4146-B236-4B7A3E7E1FDA}" Win64="$(var.Win64)">
			<File Id="_4B7A3E7E1FDA" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.Grid.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_32E931C1" Guid="{32E931C1-DB9E-43CB-B315-07B721072509}" Win64="$(var.Win64)">
			<File Id="_07B721072509" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.Grid.v20.2.Extensions.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_06172651" Guid="{06172651-5648-4056-B29D-291B34335415}" Win64="$(var.Win64)">
			<File Id="_291B34335415" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.Layout.v20.2.Core.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_C7D1A325" Guid="{C7D1A325-40F7-4CE1-9920-088087CFA771}" Win64="$(var.Win64)">
			<File Id="_088087CFA771" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.LayoutControl.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_78D3FDA5" Guid="{78D3FDA5-39C5-4FE4-BE82-7C0627EE9C69}" Win64="$(var.Win64)">
			<File Id="_7C0627EE9C69" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.Map.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_E4828940" Guid="{E4828940-9AE7-48B7-9303-4E982B7FB687}" Win64="$(var.Win64)">
			<File Id="_4E982B7FB687" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.NavBar.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_E4974EF2" Guid="{E4974EF2-C91D-49AB-B234-99F72D5E5331}" Win64="$(var.Win64)">
			<File Id="_99F72D5E5331" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.Office.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_D802FD1C" Guid="{D802FD1C-67AC-46AF-AF44-80F6DF13252F}" Win64="$(var.Win64)">
			<File Id="_80F6DF13252F" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.PdfViewer.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_5F47AC28" Guid="{5F47AC28-0C59-4533-B64F-026C5A724DF6}" Win64="$(var.Win64)">
			<File Id="_026C5A724DF6" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.PivotGrid.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_F8AE4A80" Guid="{F8AE4A80-21C3-4DAA-AB86-EF5326B386A3}" Win64="$(var.Win64)">
			<File Id="_EF5326B386A3" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.Printing.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_6CD58F56" Guid="{6CD58F56-3AD2-4AC3-A90F-E45E42FAE471}" Win64="$(var.Win64)">
			<File Id="_E45E42FAE471" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.PrismAdapters.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_5E9822D9" Guid="{5E9822D9-CA0B-48A5-B8EA-074A50CE95AB}" Win64="$(var.Win64)">
			<File Id="_074A50CE95AB" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.PropertyGrid.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_0E24807C" Guid="{0E24807C-0CD2-473A-A15A-B1D6F6E67A6D}" Win64="$(var.Win64)">
			<File Id="_B1D6F6E67A6D" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.ReportDesigner.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_CD4F2058" Guid="{CD4F2058-63C7-45C8-BE0C-EF23B0BE6D8B}" Win64="$(var.Win64)">
			<File Id="_EF23B0BE6D8B" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.Ribbon.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_D283B718" Guid="{D283B718-43BD-4322-BA69-D796055B0E7B}" Win64="$(var.Win64)">
			<File Id="_D796055B0E7B" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.RichEdit.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_5DF661CC" Guid="{5DF661CC-99A6-43D4-B421-75EADF0549E0}" Win64="$(var.Win64)">
			<File Id="_75EADF0549E0" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.Scheduler.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_EBB11FA3" Guid="{EBB11FA3-1AF4-46FF-A23E-728EE46994AA}" Win64="$(var.Win64)">
			<File Id="_728EE46994AA" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.Scheduling.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_2CB682C2" Guid="{2CB682C2-6AD2-4907-B3AC-99F2CBE6255B}" Win64="$(var.Win64)">
			<File Id="_99F2CBE6255B" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.SpellChecker.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_AB61698F" Guid="{AB61698F-908D-4A2E-8EB2-BC7D554CB315}" Win64="$(var.Win64)">
			<File Id="_BC7D554CB315" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.Spreadsheet.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_61CA3121" Guid="{61CA3121-57D2-4C41-B2AB-EC7753A87C6A}" Win64="$(var.Win64)">
			<File Id="_EC7753A87C6A" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.Themes.Office2019Colorful.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_9BF19E94" Guid="{9BF19E94-44B6-4D03-A8CF-AD5EE46D0AE7}" Win64="$(var.Win64)">
			<File Id="_AD5EE46D0AE7" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.Themes.Seven.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_D9B3EEBC" Guid="{D9B3EEBC-5E63-4779-9395-590659590C89}" Win64="$(var.Win64)">
			<File Id="_590659590C89" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.TreeMap.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_6EC62B01" Guid="{6EC62B01-5B3E-4D04-BDE4-D078363A6EE8}" Win64="$(var.Win64)">
			<File Id="_D078363A6EE8" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpf.TypedStyles.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_6D97E630" Guid="{6D97E630-375E-461F-B4FA-9984BE9E666D}" Win64="$(var.Win64)">
			<File Id="_9984BE9E666D" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.Xpo.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_A2DE1C58" Guid="{A2DE1C58-2C88-4D3D-9883-B5488C626D66}" Win64="$(var.Win64)">
			<File Id="_B5488C626D66" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.XtraCharts.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_63A1D1D6" Guid="{63A1D1D6-87D8-4DC9-94D7-40D3A7DCB64B}" Win64="$(var.Win64)">
			<File Id="_40D3A7DCB64B" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.XtraGauges.v20.2.Core.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_86D0B6EB" Guid="{86D0B6EB-A7A6-4643-8BB3-5744C4AA2F54}" Win64="$(var.Win64)">
			<File Id="_5744C4AA2F54" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.XtraReports.v20.2.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_13B56198" Guid="{13B56198-2A1F-49B6-A665-5E6223C449CA}" Win64="$(var.Win64)">
			<File Id="_5E6223C449CA" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.XtraScheduler.v20.2.Core.Desktop.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>
		<Component Id="_782C8F83" Guid="{782C8F83-B0F8-4D0C-9FEC-273E7B0F3079}" Win64="$(var.Win64)">
			<File Id="_273E7B0F3079" Vital="yes" Source="$(var.COMET-CE.TargetDir)DevExpress.XtraScheduler.v20.2.Core.dll" KeyPath="yes" Assembly=".net"></File>
		</Component>

    </ComponentGroup>
  </Fragment>
</Wix>
